.container {
  margin-left: auto;
  margin-top: 5%;
  margin-right: 5%;
}

th{
  padding: 20px;
  font-weight: bold;
  
  
}

.App-link {
  color: hsl(193, 95%, 68%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  padding: 50px 0 0 0;
}

